$color-white: #fff;
$color-black: #1B1F2A;
$color-theta-green: #21EDBA;
$color-theta-blue: #29B3EB;

$color-page: #1b1f2a;
$color-panel: rgba(#D6D8FF, .05);

$color-font-main: #ffffff;
$color-font-light: #8A8FB5;
$color-font-highlight: $color-theta-blue;

$color-font-title: $color-font-main;
$color-font-body: $color-font-main;
$color-font-link: $color-font-main;
$color-font-link-hover: $color-font-highlight;
$color-font-button: $color-black;

$color-line: darken(#7C81A3, 25%);
$color-line-main: $color-line;
$color-line-light: darken(#7C81A3, 35%);

$color-select-back: $color-font-highlight;
$color-select-type: $color-font-main;

$color-input-background: rgba(#7C81A3, .35);
$color-input-text: $color-font-main;
$color-input-placeholder: rgba($color-font-main, .5);
$color-input-border: $color-line-main;

$color-table-row: rgba(#D6D8FF, .05);
$color-table-row-alt: rgba(#D6D8FF, .02);



//Gradient helpers

@mixin linearVerticalGradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
}

@mixin linearHorizontalGradient($left, $right){
  background: $left; /* Old browsers */
  background: -moz-linear-gradient(left, $left 0%, $right 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $left 0%,$right 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $left 0%,$right 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin buttonGradient() { @include linearHorizontalGradient($color-theta-blue, $color-theta-green); }




// DEPRECATED
$th-body: #1b1f2a;

$th-white: white;

$th-grey: rgba(255,255,255,0.5);
$th-grey-dark: rgba(255,255,255,0.25);
$th-grey-light: rgba(255,255,255,0.65);
$th-grey-lighter: rgba(255,255,255,0.85);

$th-blue: #29b3eb;
$th-blue-transparent: rgba(41, 179, 235, 0.5);

$th-light-blue: #33ccff;

$th-green: #21edba;
$th-green-transparent: rgba(33, 237, 186, 0.5);

$th-yellow: #ccdf23;

$th-pink: #e82768;

$th-brand: $th-green;

$th-bullet-blue: #25ced5;
$th-bullet-red: #f42f56;
$th-bullet-yellow: #f5c437;
$th-bullet-purple: #9154d4;

$th-red-gradient-start: #e82768;
$th-red-gradient-end: #ff5e45;

$th-gold-gradient-start: #c3922e;
$th-gold-gradient-end: #fbc926;


$th-input-background: #3A3A3A;
$th-input-border: transparent;
$th-input-hover-border: transparent;
$th-input-placeholder-text: #777777;
$th-input-text: white;

$th-overlay: rgba(27, 31, 42, 0.95);
$th-modal-background: rgba(27, 31, 42, 1.0);






