// Misc UI elements. Not a component, but reusable pieces that can be used globally


.currency {
  display: flex;
  flex-wrap: wrap;
  &:before {
    content: '';
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: .375rem;
    top: 2px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/images/icons/token_default@2x.png')
  }
  &.tfuel,
  &.tfuelwei {
    &:before { background-image: url('/images/icons/tfuel_flat.png'); }
  }
  &.theta,
  &.thetawei {
    &:before { background-image: url('/images/icons/theta_flat.png'); }
    &.left { float: left; }
  }
  &.tdrop {
    &:before { background-image: url('/images/icons/tdrop_flat.png'); }
  }
  &.tbill {
    &:before {
      background-image: url('/images/icons/tbill_token.png'); 
    }
  }
}

.currency-link {
  margin-left: 5px;
}

body.show-modal {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color-black, .95);
  .modal-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 100;
    width: 50px;
    height: 50px;
    background-image: url('/images/close_button@2x.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba($color-white, .05);
    border-radius: 50%;
  }
  .modal-content {
    padding: 4rem;
    height: 100%;
    overflow-y: auto;
  }
  @include breakpoint('phablet', max) {
    .modal-content {
      padding: 1rem;
    }
  }
}