@import 'styles/_variables.scss';
@import 'common/components/link-button/styles.scss';
$border-width: 1px;
$line-height: 50px;

// Theta explorer related CSS styles
.th-explorer{
  height: 100%;
  width: 100%;

  &__title{
    margin: 50px 0 40px 10%;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      font-size: 20px;
      text-align: center;
    }
  }
  &__buttons{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    &--no-more{
      color: $th-grey;
      line-height: $button-line-height;
    }
  }
}

// Theta explorer table related CSS styles
.th-explorer-table-text{
  margin: 0;
  word-break: break-word;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
  &__balance{
    display: flex;
    &--left{
      display: flex;
      flex-direction: column;
      & p{
        margin: 0 10px;
        text-align: right;
      }
    }
    &--right{
      display: flex;
      flex-direction: column;
      & p{
        margin: 0;
        text-align: left;
      }
    }
  }
  &__txs_hash_list{
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow: scroll;
  }
}
.th-explorer-table{
  width: 80%;
  margin: 20px 10%;
  border: $border-width solid $th-blue;

  &__row{
    display: flex;

    &--left{
      width: 30%;
      flex: 0.3;
      margin: 0;
      padding: 15px 0;
      border: $border-width solid $th-green;
      // text-align: center;
      display: flex;
      justify-content: center;
    }
    &--right{
      width: 70%;
      flex: 0.7;
      padding: 15px 0;
      margin: 0;
      border: $border-width solid $th-green;
      // text-align: center;
      display: flex;
      justify-content: center;
    }
  }
}
.th-explorer-table-text-tooltip{
  cursor: pointer;
  border-bottom: 1px dotted white;
}