@import 'styles/_variables.scss';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  color: $th-grey-lighter;
}
body {
  overflow: auto;
  color: white;
  background: #1b1f2a;
  font-family: "AlwynNew", sans-serif;
  -webkit-font-smoothing: antialiased;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/public/images/center-glow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    z-index: -1;
  }
}
.theta-app{
  height: 100%;
}
#root{
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/public/images/red-glow-top-right.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    pointer-events: none;
    z-index: -1;
  }
}
.theta-container{
  height: 100%;

  &:before{
    content: '';
    position: absolute;
    top: calc(63px - 180px);
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/public/images/grid_transparent_tile.png");
    background-size: 180px;
    background-repeat: repeat;
    background-position: top right;
    pointer-events: none;
    z-index: -1;
  }
}
.theta-content{
  height: calc(100% - 60px);
  margin: 0 140px 0 140px;
  overflow: auto;
  display: flex;
  justify-content: center;

  &__container{
    width: 100%;
  
    &--title{
      width: 80%;
      height: 50px;
      line-height: 50px;
      margin: 40px 0 40px 10%;
      font-size: 25px;
      text-align: center;
    }
  
    &--pagination{
      margin-top: 40px;
      display: flex;
      width: 100%;
    }
  }
}