// MODULES
@import 'modules/colors';
@import 'modules/fonts';
@import 'modules/input-types';
@import 'modules/breakpoints';

// PARTIALS
@import 'partials/utils';
@import 'partials/base';
@import 'partials/layout';
@import 'partials/forms';
@import 'partials/buttons';
@import 'partials/tables';
@import 'partials/misc-ui';

// COMPONENTS
@import 'components/accordion';
@import 'components/header';
@import 'components/not-exist';
@import 'components/pagination';
@import 'components/dashboard-row';
@import 'components/transaction-table';
@import 'components/blocks-table';
@import 'components/loading-panel';
@import 'components/spinner';
@import 'components/json-view';
@import 'components/stakes-table';
@import 'components/chart';
@import 'components/tabs';
@import 'components/read-contract';
@import 'components/smart-contract';

// SECTIONS 
@import 'sections/home';
@import 'sections/transactions';
@import 'sections/account';
@import 'sections/blocks';
@import 'sections/stakes';
@import 'sections/token';

@import '../../node_modules/react-tabs/style/react-tabs.scss';
