@import 'styles/_variables.scss';

.th-block-info-brief{
  width: 100%;
  & table, th, td{
    border: 1px solid $th-blue;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
  }
  & table{
    width: 100%;
  }
  &.full{
    width: 80%;
    margin-left: 10%;
    & table, th, td{
      border: 2px solid $th-blue;
      border-collapse: collapse;
      text-align: center;
      padding: 10px;
    }
    & table{
      width: 100%;
    }
    & tr{
      height: 40px;
    }
  }
}
.th-blocks{
  width: 100%;
}
.th-blocks-title{
  width: 80%;
  height: 50px;
  line-height: 50px;
  margin: 20px 0 20px 10%;
  font-size: 25px;
  text-align: center;
}
.th-blocks-button{
  width: 80%;
  margin: 10px 0 0 10%;
  display: flex;
  justify-content: space-between;
  &__left{
    width: 120px !important;
    cursor: pointer;
  }
  &__right{
    width: 120px;
    cursor: pointer;
  }
}
.th-blocks-pagination{
  margin-top: 20px;
  display: flex;
  width: 100%;
}
