@import 'styles/_variables.scss';

.th-not-exist{
    height: calc(100% - 40px);
    text-align: center;
    font-size: 40px;
    color: $th-grey;
    display: flex;
    align-items: center;
    justify-content: center;
}