@import 'styles/_variables.scss';

.th-not-exist{
    height: calc(100% - 90px);
    text-align: center;
    font-size: 40px;
    color: $th-grey;
    display: flex;
    justify-content: center;
    padding-top: 30%;
}