.content.account {
  table.details.account-txns {
    margin-top: 2rem;
    tbody th {
      width: 200px;
    }
    tbody tr td div {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }

  .actions {
    @include row($justify: flex-end);
    border-top: 1px solid $color-font-light;
    padding-top: 2rem;
    .title{
      position: absolute;
      left: calc(50% - 44px)
    }
    .btn.tx {
      font-size: .875rem;
      font-weight: $weight-semi;
      color: $color-font-light;
    }
  }


  table.data.txn-table,
  & > .loading-panel {
    margin-top: 0rem;
  }

  @include breakpoint('tablet', max) {
    table.details.account-txns {
      tbody tr th {
        content: 'Transactions';
      }
    }
  }
}

.act.balance{
  display: flex;
  flex-direction: row;
  .currency{
    width: 50%;
    display: flex;
  }
}
.price{
  margin-left: 5px;
  color: $color-light;
}