.content.account {
  table.details.account-txns {
    margin-top: 2rem;
    tbody th {
      width: 200px;
    }
    tbody tr td div {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }


  table.data.txn-table,
  & > .loading-panel {
    margin-top: 3rem;
  }

  @include breakpoint('tablet', max) {
    table.details.account-txns {
      tbody tr th {
        content: 'Transactions';
      }

    }
  }
  
}