.content.blocks {

}
.content.block-details {
  .button-list {
    margin-top: 2rem;
  }
  table tr.transactions {
    th { vertical-align: top; }
  }
  h3 {
    margin: 3rem 0 .75rem .75rem;
    font-family: $font-title;
    font-weight: $weight-bold;
    font-size: 1.125rem;
    color: $color-font-main;
    letter-spacing: 3px;
    text-transform: uppercase;
    
  }
  .block-txn {
    
    .txn-type {
      margin-right: .5rem;
      width: 150px;
      white-space: nowrap;
      
    }
  }
  


}