.content.home {
  > :first-child {
    margin-top: 25px;
  }
  .overview {
    // margin-top: 5rem;
    @include row($justify: space-between, $align: flex-start);

    & > * {
      @include column($align: center);
      flex: 0 0 calc(50% - 2rem);
      table {
        table-layout: fixed;
        tr .hash {
          width: auto;
        }
      }
      &:first-child {
        margin-right: 2rem;
      }
      .btn {
        margin: 1rem 0 0;
      }
      .block-table,
      .transaction-table {
        width: 100%;
      }
    }

    .txn-table td.type:before {
      width: 14px;
      height: 14px;
      top: 2px;
    }
    .more {
      margin-top: 27px;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1.4px;
      color: $color-theta-blue-light;
    }
  }

  .dapps {
    width: 100%;

    &__title {
      font-weight: $weight-bold;
      font-size: 16px;
      text-align: center;
      letter-spacing: 4px;
      margin-top: 38px;
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;
    }

    &__footer {
      display: flex;
      justify-content: center;
      
      .more {
        margin-top: 27px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.4px;
        color: $color-theta-blue-light;
      }
    }
  }

  @include breakpoint("tablet", max) {
    > :first-child {
      margin-top: 5%;
    }
    .overview {
      margin-top: 0rem;
      flex-flow: column;
      & > *:first-child {
        margin-right: 0rem;
      }
      .page-title {
        margin-bottom: 1rem !important;
      }
    }
  }

  .chain-overview {
    width: 100%;
    margin-top: 40px;

    &__title {
      height: 55px;
      line-height: 55px;
      text-align: center;
      font-size: 13px;
      letter-spacing: 3.25px;
    }

    &__chains {
    }

    &__chain {
      height: 60px;
      line-height: 20px;
      border: 1px solid rgba($color-font-light, 0.2);
      color: $color-font-light;
      font-size: 14px;
      padding: 20px;
      margin-bottom: 8px;
      display: flex;

      &:hover {
        border-color: $color-font-light;
        cursor: pointer;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &--logo {
        height: 100%;
        width: 90px;
        margin-right: 110px;
      }
    }
  }
}

.chain-logo {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  &.theta {
    background-image: url("/images/logos/logo-theta-chain.png");
  }
  &.replay {
    background-image: url("/images/logos/logo-replay.png");
  }
}

.content.check {
  display: flex;
  flex-direction: column;

  &.search {
    display: flex;
    justify-content: space-around;
  }
}
