.content.home {
  > :first-child{
    margin-top: 5rem;
  }
  .overview {
  	// margin-top: 5rem;
    @include row($justify: space-between, $align: flex-start);

    & > * {
      @include column($align: center);
      flex: 0 0 calc(50% - 2rem);
      table {
        table-layout: fixed;
        tr .hash { width: auto; }
      }
      &:first-child {
        margin-right: 2rem;
      }
      .btn {
        margin: 1rem 0 0;
      }
      .block-table,
      .transaction-table {
        width: 100%;
      }
    }

    .txn-table td.type:before {
      width: 14px;
      height: 14px;
      top: 2px;
    }
    .more{
      margin-top: 27px;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1.4px;
      color: $color-theta-blue-light;
    }
  }

  @include breakpoint('tablet', max) {
    > :first-child{
      margin-top: 5%;
    }
    .overview {
      margin-top: 0rem;
      flex-flow: column;
      & > *:first-child { margin-right: 0rem; }
      .page-title {
        margin-bottom: 1rem !important;
      }
    }
  }
}

.content.check {
  display: flex;
  flex-direction: column;

  &.search{
    display: flex;
    justify-content: space-around;
  }
}