
.content.transactions {

  
}

.content.transaction-details {
  

  .details-header {
    @include row($justify: space-between, $align: flex-end);
    padding: 3rem 1rem .75rem;
    .txn-type {
      font-family: $font-title;
      font-weight: $weight-bold;
      font-size: 1.125rem;
      color: $color-font-main;
      letter-spacing: 3px;
      text-transform: uppercase;
      &:before {
        top: 3px;
        margin-right: .75rem;
      }
    }
    .btn.raw {
      margin-bottom: .125rem;
      color: $color-font-light;
      font-weight: $weight-regular;
    }
  }
  .coinbase-output {
    @include row($align: flex-start);
    border-bottom: 1px solid $color-line;
    padding: .5rem 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: none;
    }
    & > *:first-child {
      margin-right: 1rem;
      white-space: nowrap;
      min-width: 30%;
      max-width: 50%;
    }
    & > a {
      display: block;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
    .currency{
      @include breakpoint('phablet', max) { 
        flex-wrap: wrap;
      }
      @include breakpoint('phone-small', max) { 
        &:before{
          display: none;
        }
      }
    }
  }

  
}


// In the global space since the icons are everywhere
.txn-type {
  &:before {
    content: '';
    display: inline-block;
    top: 4px;
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: .5rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }  
}
  
.txn-type.coinbase:before { background-image: url('/images/icons/icon_coinbase@2x.png'); }
.txn-type.transfer:before { background-image: url('/images/icons/icon_send@2x.png'); }
.txn-type.service-payment:before { background-image: url('/images/icons/icon_servicepayment@2x.png'); }
.txn-type.split-contract:before { background-image: url('/images/icons/icon_splitrule@2x.png'); }
.txn-type.smart-contract:before { background-image: url('/images/icons/icon_smartcontract@2x.png'); }
.txn-type.reserve:before { background-image: url('/images/icons/icon_reservefund@2x.png'); }
.txn-type.release:before { background-image: url('/images/icons/icon_releasefund@2x.png'); }
.txn-type.slash:before { background-image: url('/images/icons/icon_slash@2x.png'); }
.txn-type.deposit-stake:before { background-image: url('/images/icons/icon_deposit-stake-transaction@2x.png'); }
.txn-type.withdraw-stake:before { background-image: url('/images/icons/icon_withdraw-stake-transaction@2x.png'); }

.txn-type.update-validators:before { background-image: url('/images/icons/icon_updatevalidators@2x.png'); }

.sc-log {
  &__data {
    position: relative;
    padding-right: 20%;
    &--buttons {
      display: flex;
      position: absolute;
      top: 0;
      right: 5px;
      background-color: $color-black;
      color: $color-font-light;
      cursor: pointer;
      border-radius: 4px;
    }
    &--button {
      padding: 2px 5px;
      &.active {
        background-color: $color-line;
        color: $color-font-main;
      }
      &.disabled {
        cursor: not-allowed;
        &:hover {
          opacity: 1;
        }
      }
      &:first-child {
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
.sc-items {
  display: flex;
  flex-flow: row wrap;
}
.sc-item {
  margin-right: 10px;
  &__row {
    &:last-child {
      margin-top: 5px;
    }
  }
  &__image {
    max-width: 250px;
    @include breakpoint('tablet', max) {
      width: 100%;
    }
  }
}