
.theta-header {
  @include row($justify: space-between, $align: flex-start);
  max-width: 1100px;
  margin: 0 auto 0;
  padding: 1.5rem 0 0;

  a{
    text-decoration: none;
  }

  .theta-logo {
    height: 40px;
    width: 116px;
    margin: 0 3rem 0 0;

    background: url("/images/logo_theta-explorer@2x.png");
    @include backgroundImage($url: "/images/logo_theta-explorer@2x.png");

  }

  .nav {
    display: flex;

    a {
      font-family: $font-title;
      font-weight: $weight-bold;
      padding: .65rem;
      margin-right: 1rem;
      
      color: $color-font-main;
      font-size: 1rem;
      line-height: 1rem;
      letter-spacing: 3px;

      background: white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      white-space: nowrap;
      overflow: hidden;

      &:hover{
        @include linearHorizontalGradient($th-blue, $th-green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .nav-search {
    display: flex;
    align-items: center;
    color: $th-body;

    .search-input {
      width: 16rem;
    }

    .search-select {
      width: 7rem;
      margin: 0 10px;

      &::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid $color-input-text;
        position: absolute;
        right: 5px;
        top: 12px;
        pointer-events: none;
      }

      select {
        height: 32px;
        width: 100%;
        display: inline-block;
      }
    }

    .search-button {
      height: 30px;
      width: 20px;
      border-radius: 0.25rem .25rem .25rem 0.25rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      // @include linearVerticalGradient($th-blue, $th-green);

      &:hover{
        @include linearVerticalGradient($th-blue, $th-green);
      }
    }

    
    .svg-icon {
      width: 80%;
      height: 80%;
      display: block;
      margin: auto;
    }

    .svg-icon path,
    .svg-icon polygon,
    .svg-icon rect {
      fill: $th-white;
    }

    .svg-icon circle {
      stroke: $th-white;
      stroke-width: 1;
    }
  }
}

