.theta-header-wrap {
  background-color: $color-dark-black;
  width: 100%;
}
.theta-header {
  @include row($justify: space-between, $align: flex-start);
  max-width: 1100px;
  width: 100%;
  height: 50px;
  margin: 0 auto 0;
  padding: 9px 0;
  color: $color-font-light;

  a {
    text-decoration: none;
  }

  .nav {
    display: flex;
    flex: 1 0 auto;

    .theta-logo {
      flex: 0 0 7.25rem;
      height: 2rem;
      margin: 0 12px 0 0;

      background: url("/images/logo_theta-matachain@2x.png");
      @include backgroundImage($url: "/images/logo_theta-matachain@2x.png");
    }

    a.nav-item {
      font-family: $font-title;
      font-weight: $weight-bold;
      padding: 0.65rem;
      margin-right: 0;

      color: $color-font-light;
      font-size: 11px;
      line-height: 11px;
      letter-spacing: 2.75px;

      background: $color-font-light;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      white-space: nowrap;
      overflow: hidden;

      &::selection {
        -webkit-text-fill-color: $color-white;
      }

      &:hover {
        @include linearHorizontalGradient($color-blue, $color-green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .nav-icons {
    display: flex;
    align-items: center;
    margin-left: 50px;

    &__link {
      margin-right: 20px;

      &--icon {
        height: 14px;
        width: 14px;
        opacity: 0.65;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        &.twitter {
          background-image: url("/images/icons/icon_twitter.png");
        }
        &.reddit {
          background-image: url("/images/icons/icon_reddit.png");
        }
        &.github {
          background-image: url("/images/icons/icon_github.png");
        }
        &.discord {
          background-image: url("/images/icons/icon_discord.png");
        }
      }
    }
  }

  .nav-select {
    height: 100%;

    &__button {
      width: 250px;
      height: 34px;
      color: $color-blue;
      border: 1px solid rgba($color-blue, 0.75);
      border-radius: 6px;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
      margin-top: -1px;
      cursor: pointer;
      &:hover {
        border-color: $color-blue;
      }
    }
    .select-arrow-down {
      height: 7px;
      width: 12px;
      background-image: url("/images/icons/select-arrow-down.png");
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: transparent;
    }
  }

  @include breakpoint("tablet-wide", max) {
    .nav-search .search-input {
      width: 10rem;
    }
    .nav-search .search-select {
      width: 5rem;
    }
    .nav .theta-logo {
      margin-right: 3%;
    }
    .nav a.nav-item {
      margin-right: 1%;
      letter-spacing: 0;
    }
  }
  @include breakpoint("tablet", max) {
    display: block;
    .flex-spacer {
      display: none;
    }

    .nav-search {
      width: 80%;
      margin: 3rem auto 0;
      @include row($justify: center);
      .search-input {
        width: 80%;
      }
      .search-select {
        width: 7rem;
      }
    }
  }
  @include breakpoint("phablet", max) {
    width: 95%;
    .nav .theta-logo {
      margin-right: 3%;
      flex: 0 0 6rem;
    }
    .nav-search {
      margin: 0.5rem auto 0;
    }
    .nav a.nav-item {
      letter-spacing: 0;
      margin-right: 1%;
    }
  }
  @include breakpoint("phone-small", max) {
    .nav a.nav-item {
      font-size: 0.8rem;
      line-height: 0.8rem;
    }
  }
}

.chain-header-wrap {
  background-color: rgba($color-blue, 0.25);
  width: 100%;
  &.theta {
    background: linear-gradient(
      90deg,
      rgba($color-blue, 0.25),
      rgba($color-green, 0.25)
    );
  }
}
.chain-header {
  @include row($justify: space-between, $align: flex-start);
  max-width: 1100px;
  width: 100%;
  height: 50px;
  margin: 0 auto 0;
  padding: 9px 0;
  color: $color-font-light;

  &__name {
    color: $color-theta-blue-light;
    letter-spacing: 2.25px;
    font-size: 15px;
    font-weight: $weight-bold;
    line-height: 32px;
    padding-left: 7px;
  }
  &__navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    a.nav-item {
      font-family: $font-title;
      font-weight: $weight-bold;
      padding: 0.65rem;
      margin-right: 7px;

      color: $color-white;
      font-size: 11px;
      line-height: 11px;
      letter-spacing: 2.75px;

      background: $color-white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      white-space: nowrap;
      overflow: hidden;

      &::selection {
        -webkit-text-fill-color: $color-white;
      }
      
      &:hover {
        @include linearHorizontalGradient($color-blue, $color-green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .nav-search {
      display: flex;
      align-items: center;
      color: $color-font-body;
      margin-left: 20px;

      .search-input {
        width: 330px;
        color: $color-light;
        background-color: $color-white;
        border-radius: 6px 0 0 6px;
        padding-left: 15px;
        
        &::placeholder {
          color: $color-light;
        }
      }

      .search-select {
        width: 7rem;
        margin: 0 10px;

        &::after {
          content: "";
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 6px solid $color-input-text;
          position: absolute;
          right: 5px;
          top: 12px;
          pointer-events: none;
        }

        select {
          height: 32px;
          width: 100%;
          display: inline-block;
        }
      }

      .search-button {
        height: 32px;
        // width: 25px;
        border-radius: 0 6px 6px 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: $color-white;
        padding: 0 12px;
      }

      .svg-icon {
        width: 16px;
        height: 24px;
        display: block;
        margin: auto;
      }

      .svg-icon path,
      .svg-icon polygon,
      .svg-icon rect {
        fill: $color-light;
      }

      .svg-icon circle {
        stroke: $color-light;
        stroke-width: 1;
      }
    }
  }
}
