
.theta-header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;

  a{
    text-decoration: none;
  }

  &__logo{
    height: 40px;
    width: 120px;
    margin: 0;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 24px;

    &:actice{
      color: white;
    }
  }
  &__navigator{
    height: 60px;
    // margin: 0 0 0 120px;
    display: flex;

    &--button{
      margin: 21px;
      color: white;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 15px;
      background: white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      white-space: nowrap;
      overflow: hidden;

      &:hover{
        @include linearHorizontalGradient($th-blue, $th-green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &__blank{
    flex: 1;
  }
  &__search{
    height: 60px;
    display: flex;
    align-items: center;
    color: $th-body;

    &--input{
      height: 20px;
      font-size: 15px;
      width: 150px;
      line-height: 1.5;
      border: 1px solid $th-blue;
      border-radius: .25rem 0 0 .25rem;
      padding: 5px 10px;
    }

    &--select{
      position: relative;
      width: 125px;
      margin: 0 10px;

      &::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid $th-blue;
        position: absolute;
        right: 5px;
        top: 12px;
        pointer-events: none;
      }

      & select{
        height: 32px;
        width: 100%;
        font-size: 15px;
        font-family: "AlwynNew", sans-serif;
        padding: 5px 10px;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid $th-blue;
        border-radius: 0 0.25rem 0.25rem 0;
        color: $th-body;
      }
    }

    &--button{
      height: 30px;
      width: 20px;
      border-radius: 0.25rem .25rem .25rem 0.25rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      // @include linearVerticalGradient($th-blue, $th-green);

      &:hover{
        @include linearVerticalGradient($th-blue, $th-green);
      }
    }
  }
}
.theta-logo{
  height: 25px;
  width: 90px;
  background: url("/images/nav-logo.png");
  background-size: 90px 25px;
  margin-top: 17px;
}
.svg-icon {
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $th-white;
}

.svg-icon circle {
  stroke: $th-white;
  stroke-width: 1;
}