
.th-not-exist{
    height: calc(70% - 90px);
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-size: 40px;
    color: $color-font-light;
    display: flex;
    justify-content: center;
    padding-top: 20%;
}