.token.dashboard{
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgba($color-font-light, 0.2);

  &.theta>:first-child{
    width: 4%;
  }
  &.tfuel>:first-child{
    width: 4%;
  }
  &.theta{
    .value.price{
      @include linearHorizontalGradient($color-blue, $color-green);
    }
  }
  &.tfuel{
    border-bottom: 1px solid rgba($color-font-light, 0.2);
    .value.price{
      @include linearHorizontalGradient($color-red, $color-orange);
    }
  }
  >:last-child{
    width: 39% !important;
  }
  .column{
    width: 19%;
    height: 160px;
    padding-top: 15px;

    >:first-child{
      margin-bottom: 25px;
    }
    .currency{
      margin-top: 10px;
      &::before{
        width: 24px;
        height: 24px;
      }
    }

    .detail{
      height: 48px;
      border-left: 1px solid rgba($color-font-light, 0.2);
      padding-left: 10px;
      .title{
        color: $color-font-light;
        font-size: 11px;
      }
      .value{
        display: flex;
        color: $color-white;
        font-size: 18px;
        &.price{
          font-size: 23px;
          font-weight: 100;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin: auto;
        }
        .tps{
          font-size: 12px;
          align-self: flex-end;
        }
      }
    }
    .chart-container{
      padding-left: 10px;
      border-left: 1px solid rgba($color-font-light, 0.2);
      text-align: center;
      .title{
        color: $color-font-light;
      }
    }
  }
}