@import "styles/_variables";

.th-pagination {  
  width: 80%;
  margin-left: 10%;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  .page-link {
    text-align: center;
    color: $th-blue;
    border-color: $th-grey;
    &:hover {
      color: $th-blue;
      border-color: $th-grey;
      cursor: pointer;
    }  
    &.active{
      color: $th-green;
    }
  }
  &--lg {
    .page-link {
      padding-top: 10px;
      min-width: 38px;
      height: 38px;
      text-align: center;
      color: $th-blue;
      border-color: $th-grey;
      &:hover {
        color: $th-green;
        border-color: $th-grey;
        cursor: pointer;
      }  
    }
  }
}